@font-face {
  font-family: 'ingrid-icons';
  src:  url('../fonts/ingrid-icons.eot?3hsrv8');
  src:  url('../fonts/ingrid-icons.eot?3hsrv8#iefix') format('embedded-opentype'),
    url('../fonts/ingrid-icons.ttf?3hsrv8') format('truetype'),
    url('../fonts/ingrid-icons.woff?3hsrv8') format('woff'),
    url('../fonts/ingrid-icons.svg?3hsrv8#ingrid-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ic-"], [class*=" ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ingrid-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-apple:before {
  content: "\e900";
}
.ic-arrow:before {
  content: "\e901";
}
.ic-briefcase:before {
  content: "\e902";
}
.ic-delivery:before {
  content: "\e903";
  color: #92B232;
}
.ic-feed:before {
  content: "\e904";
  color: #92B232;
}
.ic-feedback:before {
  color: #92B232;
  content: "\e905";
}
.ic-google-play:before {
  content: "\e906";
}
.ic-ingrid-coin:before {
  color: #92B232;
  content: "\e907";
}
.ic-ingrid-logo:before {
  content: "\e908";
}
.ic-ingrid-mini:before {
  content: "\e909";
}
.ic-location:before {
  content: "\e90a";
}
.ic-mail:before {
  content: "\e90b";
}
.ic-moon:before {
  content: "\e90c";
}
.ic-order:before {
  color: #92B232;
  content: "\e90d";
}
.ic-paypass:before {
  color: #92B232;
  content: "\e90e";
}
.ic-phone:before {
  content: "\e90f";
}
.ic-run:before {
  color: #92B232;
  content: "\e910";
}
.ic-time:before {
  color: #92B232;
  content: "\e911";
}
.ic-waiter:before {
  color: #92B232;
  content: "\e912";
}
